rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn(){ return request.auth != null; }
    function isAdmin(){
      return signedIn() && (
        request.auth.uid == '7nE6QoTEPFOk0IhwcZUnymkyzoY2' ||
        (firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid)) &&
         (firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.active == true ||
          firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.active == 'true'))
      );
    }
    match /bookings/{bookingId}/{fileName} {
      allow read: if signedIn() && isAdmin();
      allow write: if signedIn() && (isAdmin() || (firestore.exists(/databases/(default)/documents/bookings/$(bookingId)) && firestore.get(/databases/(default)/documents/bookings/$(bookingId)).data.uid == request.auth.uid));
    }
    match /{allPaths=**} { allow read, write: if false; }
  }
}
